h1 {
  color: aquamarine;
  font-size: 20px;
}

.parent {
  color: brown;
  font-size: 25px;
  border: 1px solid blue;
  padding: 10px 20px;
  margin: 50px 25px;
  background-color: antiquewhite;
}

.title {
  color: blue;
  font-size: 55px;
  margin-bottom: 100px;
}

button{

     color: white;
     padding: 10px;
     background-color: blue;
     outline: none;
     border: none;
}

button:hover{

     background-color: black;
     cursor: pointer;
}